<ul class="social_list">
    <li>
        <img src={{serviceSoc.social.friends.sem.img}} width="200" alt="">
        <h2 class="name">{{serviceSoc.social.friends.sem.name}}</h2>
        <h3 class="agre"> Agre:{{serviceSoc.social.friends.sem.agre}}</h3>
        <p class="prof">Work: {{serviceSoc.social.friends.sem.prof}}</p>
        <p class="par"></p>
    </li>
    <li>
        <img src={{serviceSoc.social.friends.danik.img}} width="200" alt="">
        <h2 class="name">{{serviceSoc.social.friends.danik.name}}</h2>
        <h3 class="agre"> Agre:{{serviceSoc.social.friends.danik.agre}}</h3>
        <p class="prof"> Work: {{serviceSoc.social.friends.danik.prof}}</p>
        <p class="par"></p>
    </li>
    <li>
        <img src={{serviceSoc.social.friends.fil.img}} width="200" alt="">
        <h2 class="name">{{serviceSoc.social.friends.fil.name}}</h2>
        <h3 class="agre">{{serviceSoc.social.friends.fil.agre}}</h3>
        <p class="prof"> Work:{{serviceSoc.social.friends.fil.prof}}</p>
        <p class="par"></p>
    </li>
    <li>
        <img src={{serviceSoc.social.friends.illia.img}} width="200" alt="">
        <h2 class="name">{{serviceSoc.social.friends.illia.name}}</h2>
        <h3 class="agre">Agre: {{serviceSoc.social.friends.illia.agre}}</h3>
        <p class="prof">Work: {{serviceSoc.social.friends.illia.prof}}</p>
        <p class="par"></p>
    </li>
    <li>
        <img src={{serviceSoc.social.friends.urik.img}} width="200" alt="">
        <h2 class="name">{{serviceSoc.social.friends.urik.name}}</h2>
        <h3 class="agre">Agre: {{serviceSoc.social.friends.urik.agre}}</h3>
        <p class="prof">Work: {{serviceSoc.social.friends.urik.prof}}</p>
        <p class="par"></p>
    </li>

</ul>